{% extends 'base/base.html' %}

{% load static %}


{% block content %}
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Shop By Brand</li>
            </ul>
        </div>
    </div>
    <div class="ps-page--shop" id="shop-by-brand">
        <div class="container">
            <section class="ps-shop-by-brand">
                <div class="container">
                    <div class="ps-section__header">
                        <h3>Shop by brand</h3>
                        <p>We have over 70 brands in the house. Will be featuring some brands in our "Dropdown" menu (Blue bar at the top)</p>
                    </div>
                    <div class="ps-section__content">
                        <div class="ps-section__links"><a class="active" href="#">All</a><a href="#">a</a><a href="#">b</a><a href="#">c</a><a href="#">d</a><a href="#">e</a><a href="#">f</a><a href="#">g</a><a href="#">h</a><a href="#">j</a><a href="#">k</a><a href="#">l</a><a href="#">m</a><a href="#">n</a><a href="#">p</a><a href="#">q</a><a href="#">r</a><a href="#">s</a><a href="#">t</a><a href="#">u</a><a href="#">v</a><a href="#">w</a><a href="#">x</a><a href="#">y</a><a href="#">z</a><a href="#">0-9</a>
                        </div>
                        <figure>
                            <figcaption>A</figcaption>
                            <div class="ps-section__items"><a href="#">Apple</a><a href="#">Adidas</a><a href="#">Asor</a><a href="#">Asus</a><a href="#">alber</a><a href="#">automobile USA</a><a href="#">auction UK</a><a href="#">Aleo</a><a href="#">Aphora</a><a href="#">Alop Auto</a><a href="#">Amazon</a><a href="#">Acura</a><a href="#">acne</a><a href="#">audi</a><a href="#">Alexadra St</a><a href="#">ABC Book</a><a href="#">Alistarts</a><a href="#">Adorable</a><a href="#">auroa</a><a href="#">AOE</a><a href="#">Acer</a><a href="#">AO Arfica</a><a href="#">amedit</a><a href="#">Alumia ER</a>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>B</figcaption>
                            <div class="ps-section__items"><a href="#">Binance</a><a href="#">Bolivia</a><a href="#">Binomo</a><a href="#">Bhomina</a><a href="#">Bitcoin</a><a href="#">bently</a><a href="#">Bite</a><a href="#">Bugati Veron</a><a href="#">BMW</a><a href="#">Batman</a><a href="#">Boseo</a>
                            </div>
                        </figure>
                        <figure>
                            <figcaption>C</figcaption>
                            <div class="ps-section__items"><a href="#">Codecayon</a><a href="#">Captain marvel</a><a href="#">Canon</a><a href="#">Colly</a><a href="#">Capitol</a><a href="#">Cooler master</a><a href="#">Coe</a><a href="#">Coop-mart</a><a href="#">Codazone</a><a href="#">Castrol</a><a href="#">Calvin Klein</a><a href="#">Cerato</a><a href="#">Channel</a><a href="#">Coinace</a><a href="#">cotana</a><a href="#">Christan dior</a><a href="#">coinbase </a>
                            </div>
                        </figure>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% block content %}